div.vh-h-80 {
    height: 80vh;
}

img.album_cover {
    border-radius: 3%;
}

hr {
    clear: both;
    display: block;
    width: 92%;
    height: 1px;
}

/* body {
    background-image: url(../img/background_Img2.jpg);
    background-size: cover;
} */

/* p.welcome {
    color: #6aa6df;
    filter: drop-shadow(0px 0px 3px #000000);
} */